{% extends "default.html" %}
    {% block title %}About me &bull; NightProjects{% endblock %}
    {% block activeHome %}{% endblock %}
    {% block activeAbout %}class="active"{% endblock %}
    {% block content %}
    <h1 class="center">About me</h1>
    <p>It's hard to articulate exactly who you are from a few paragraphs, so I'm going to just write about some key points about me.</p>
    <p>I'm 26 years old, I live in California. On the Internet I go by anakin or anak1n depending on who you talk to. I love working with computers, specifically servers. I've beend doing that for quite some time now. I have a cat, which you see on the index of this site. I like to make YouTube videos, you can check out my channel <a href="https://www.youtube.com/channel/UCxXzZfcKkvrm_QydyuQWUcw" title="anak1n" target="_blank">here</a>.</p>
    <p>I was part of the <a href="https://funtoo.org" title="Funtoo Linux" target="_blank">Funtoo Linux</a> core team for a while. During the time spent there, I learned a lot about Linux as a whole, as I've been a <a href="https://gentoo.org" title="Gentoo Linux" target="_blank">Gentoo</a> (or Gentoo based) systems for a long time.</p>
    <p>Aside from those things, I like to skateboard, hang out with my cat, and play video games.</p>
    {% endblock %}
