{% extends "default.html" %}
{% block title %}About Site &bull; NightProjects.org{% endblock %}
{% block activeHome %}{% endblock %}
{% block activeAbout %}class="active"{% endblock %}
{% block content %}
    <h1 class="center">About this site</h1>
    <p>This website is used specifically to show off my ability when it comes to webdesign, as well as serve as a hub for people looking to catch me on IRC via webchat.</p>
    <p>The name NightProjects came about simply because I work on a lot of projects primarily at night. I try to keep the design of the website to be darker for that reason.</p>
    <p>Nightprojects is also the name of the webdesign freelance business I do, and this website has examples of some of my work as well as some live websites for you to see.</p>
    <p>I like to treat this website as a homebase where people know they can find information on contacting me, or seeing the different things I'm up to as I update it to showcase new design mockups I do. As I said earlier, it also serves a hub for IRC webchat. This enables people to get ahold of me real time from my website directly if I am around. I try my best to get back to anyone as quickly as I can. This site also has a few sub sites, such as my blog, a place for pictures that people have saved to the server, a git repository. These things are all apart of the NightProjects site, but pictures are purely user produced content and do not reflect the thoughts or behavior of the person running this website.</p>
    <p>I also like to treat this as a place to host my projects, as well as test out new things. (the <a href="http://dev.nightprojects.org">testing ground</a>) This site is built using <a href="http://flask.pocoo.org" title="Flask" target="_blank">Flask</a>, <a href="http://www.funtoo.org" title="Funtoo Linux" target="_blank">Funtoo Linux</a>, <a href="http://git-scm.com/" title="Git" target="_blank">Git</a>, and just a little <a href="http://jquery.com/" title="jQuery" target="_blank">jQuery</a>.</p>
    <h2>Disclaimer</h2>
    <blockquote>Any thing stated on this website and/or blog is merely an opinion and not to be taken as fact. If there is anything in the Picture gallery that you find to be a copyright infringment, please <a href="/contact">contact</a> me. Nothing here is to be taken as fact, unless otherwise stated.</blockquote>
{% endblock %}

