<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="A simple self hosted blog design with sidebar on the right" />
        <link rel="shortcut icon" href="/static/logos/icon.png">
        <title>Simple Self Hosted Blog</title>
        <link href="/static/css/blog.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="wrapper" class="container">
            <div id="header">
                <h1 class="title">
                    <a href="/webdesign" title="Back to examples">Simple Self Hosted Blog</a>
                </h1>
                <div class="description">Simple self hosted blog with sidebar on right.</div>
            </div><!-- header -->
            <div id="sidebar">
                <h1 class="center">Sidebar</h1>
                <p>Example of the sidebar in action.</p>
                <p>List of example links.</p>
                <ul>
                    <li><a href="#">Add me on Facebook!</a></li>
                    <li><a href="#">Follow me on Twitter!</a></li>
                    <li><a href="#">Check out my website!</a></li>
                </ul>
            </div>
            <div class="post">
                <div class="post-title">Example blog post</div>
                <div class="post-date-author">Posted on: 05.25.2014 - 02:43 | Posted by: me</div>
                <div class="post-body">
                <p>Just an example of what the blog posts look like.</p>
                <p>Showing how you can have your blog look with. Gradient background, but it is changable in the CSS.</p>
                </div><!-- post-body -->
            </div><!-- post -->
            <div class="post">
                <div class="post-title">Example of multiple blog posts</div>
                <div class="post-date-author">Posted on: 5.25.2014 - 02:51 | Posted by: me</div>
                <div class="post-body">
                <p>Showing off how this blog looks with multiple posts</p>
                <p>Showing off an image: <img class="center" src="/static/images/80HD.png" alt="" /></p>
                <p>Showing off a blockquote:</p>
                <blockquote>
                This is what a blockquote will look like. Also changable in the CSS.
                </blockquote>
                <p>Showing off pre-formatted text:</p>
                <pre>Want to show off a snippet of code? You can do so here!</pre>
                </div><!-- post-body -->
            </div><!-- post -->
        </div> <!-- wrapper/container -->
        <div id="footer">
            <p>Copyright Scott C. 2014 | Example of a footer</p>
        </div>
    </body>
</html>

