{% extends "default.html" %}
{% block title %}Contact me &bull; NightProjects{% endblock %}
{% block activeHome %}{% endblock %}
{% block activeContact %}class="active"{% endblock %}
{% block content %}
    <h1 class="center">Contact me</h1>
    <p>There are many ways to get ahold of me. The best by far would be by e-mail, but here are a few ways to contact me:</p>
    <table width="50%" align="center">
        <tr>
            <td><strong>E-mail</strong></td>
            <td><code>anakin@nightprojects.org</code></td>
        </tr>
        <tr>
            <td><strong>XMPP</strong></td>
            <td><code>anakin@nightprojects.org</code></td>
        </tr>
        <tr>
            <td><strong>IRC server &amp; channel</strong></td>
            <td><code>chat.nightprojects.org:6697 #linux</code></td>
        </tr>
    </table>
    <p>Any inquiries for web design, please e-mail me with the subject line 'Web design'. I have a filter that puts that into a special folder so I don't miss it. Any other inquiries please feel free to catch me on XMPP/Jabber, send me an e-mail, or get to me on IRC. Whether from the <a href="/chat">chat</a> tab or from a client.</p>
    <p>E-mail is generally the fastest way to contact me for web design stuff. Any business inquiries, recruiters, jobs hiring, please put a subject line 'Recruitment for &lt;enter job title and company here&gt;'. I have a filter for these as well. Thank you!</p>
{% endblock %}
