{% extends "default.html" %}
{% block activeHome %}class="active"{% endblock %}
{% block content %}
    <h1 class="center">Welcome!</h1>
    <p>Welcome to NightProjects website. To learn more about this website, please visit <a href="/aboutsite" title="About site">about this site</a>. To learn about the person behind this website, please visit <a href="/about" title="About me">about</a> page. Both are also available through the dropdown menu in About.</p>
    <p>This website is to showcase webdesigns, and the other things hosted on this server.</p>
    <p>This server currently hosts: <code>git</code>, Flask, blog (<a href="http://ghost.org" target="_blank">Ghost</a>), XMPP/Jabber, <a href="http://games.nightprojects.org" title="Games I play" target="_blank">games I play</a>, and has <a href="http://pics.nightprojects.org" target="_blank" title="Pictures">pictures</a>.</p>
    <p>Look around, find out more about me, find out more about the website, browse through my Git repos, enjoy your stay!</p>
    <h4 class="center">Enjoy this picture of my cat:</h4>
    <p><img src="/static/images/eevee.jpg" height="320" width="480" alt="Eevee" class="center" /></p>
    <div class="clearfix"></div>
    <h2>New Stuff</h2>
    <h3>New blog post entitled: <span class="post"><strong><a href="{{ post.url }}" title=" {{ post.title }}" target="_blank">{{ post.title }}</a></strong></span></h3>
    <h3>Funtoo related stuff: <a href="http://www.funtoo.org/Package:Ghost_(Blogging_Platform)" title="Ghost on Funtoo" target="_blank">Ghost on Funtoo</a> <code>ebuild page</code></h3>
    <h3>New Linux blog post entitled:: <a href="http://linux.nightprojects.org/2015/05/29/running-your-own-git-server/" title="Linux blog" target="_blank">Running your own Git server</a></h3>
{% endblock %}
