{% extends "default.html" %}
{% block activeHome %}class="active"{% endblock %}
{% block content %}
    <h1 class="center">Welcome!</h1>
    <p>Welcome to my site. This site was originally intended to showcase web designs, but has turned into more of a personal place for me. Take a look around, you can learn <a href="/about" title="About me">about me</a>, or check out my inner thoughts on my <a href="http://blog.nightprojects.org" title="Blog" target="_blank">blog</a>.</p>
    <h4 class="center">Enjoy this picture of my cat:</h4>
    <p><img src="/static/images/eevee.jpg" height="320" width="480" alt="Eevee" class="center" /></p>
    <div class="clearfix"></div>
{% endblock %}
