<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- font use -->
    <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <!-- css  -->
    <link href="/static/css/light-website.css" rel="stylesheet" type="text/css" media="all">
    <title>Light Website</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="wrapper" class="container">
      <div id="sidebar">
        <p><a href="#" title="Home">Home</a>
        <br /><a href="#" title="Blog">Blog</a>
        <br /><a href="#" title="About">About me</a>
        <br /><a href="#" title="Contact">Contact me</a></p>
      </div><!-- sidebar -->
      <div id="content">
        <h1 class="center">Light Website</h1>
        <p>This is an example of a light colored website for someones personal page.</p>
        <p>I have added things like a simple image gallery:</p>
        <table>
          <tr>
            <td><div class="gallery">
              <a href="/static/images/eve-1.jpg" target="_blank">
                <img src="/static/images/eve-1.jpg" alt="Eevee" width="110" height="90" />
              </a>
              <div class="desc">A picture of Eevee, my cat</div>
            </div><!-- 1 img -->
            <div class="gallery">
              <a href="/static/images/funtoo-kde.png" target="_blank">
                <img src="/static/images/funtoo-kde.png" alt="Funtoo KDE" width="110" height="90" />
              </a>
              <div class="desc">Screenshot of my KDE desktop</div>
            </div><!-- 2 img -->
            <div class="gallery">
              <a href="/static/images/authoritah.png" target="_blank">
                <img src="/static/images/authoritah.png" alt="Authoritah" width="110" height="90" />
              </a>
              <div class="desc">Cartman from South Park</div>
            </div><!-- 3 img --></td>
          </tr>
        </table>
        <p>This is a good example of what a personal website could look like. The background and everything else is interchangable, including the font, borders, content background, image borders and the way they appear in the gallery.</p>
      </div><!-- content -->
    </div><!-- wrapper -->
    <div class="clearfix"></div>
    <div id="footer">
      <p>Copyright NightProjects 2014 | Design by <a href="/about">Scott</a></p>
    </div><!-- footer -->
  </body>
</html>
